@font-face {
  font-family: "iconfont"; /* Project id 2924461 */
  src: url('iconfont.woff2?t=1636429406329') format('woff2'),
       url('iconfont.woff?t=1636429406329') format('woff'),
       url('iconfont.ttf?t=1636429406329') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e715";
}

.icon-twitter:before {
  content: "\e882";
}

.icon-shopping:before {
  content: "\e999";
}

